<%- include('../partials/header') %>

<form id="new-form" action="/home" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>HP:</label>
  <input type="text" name="hitPoints">
  <label>AC:</label>
  <input type="text" name="armorClass">
  <label>Attacks:</label>
  <input type="text" name="attacks">
 
  <!-- ability scores -->
  <label>STR:</label>
  <input type="text" name="abilityScores">
  <label>DEX:</label>
  <input type="text" name="abilityScores">
  <label>CON:</label>
  <input type="text" name="abilityScores">
  <label>INT:</label>
  <input type="text" name="abilityScores">
  <label>WIS:</label>
  <input type="text" name="abilityScores">
  <label>CHA:</label>
  <input type="text" name="abilityScores">
  
  <!-- extra info -->
  <label>Defenses:</label>
  <input type="text" name="defenses">
  <label>Details:</label>
  <input type="text" name="details">
  <label>EXP:</label>
  <input type="text" name="experience">
  <input type="submit" value="Add Creature">
</form>

<form action="../">
  <input type="submit" value="Cancel">
</form>
<%- include('../partials/footer') %>
